
<div class="col-6" style="margin: auto;" >
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
  <%= devise_form_field(f, :email_field, :email, "Email") %>
  <%= devise_form_field(f, :password_field, :password, "Password", autocomplete: "current-password") %>
  
  <% if devise_mapping.rememberable? %>
    <%= devise_form_field(f, :check_box, :remember_me, "Remember me") %>
  <% end %>

  <%= devise_form_submit(f, "Log in") %>

   <%= render "devise/shared/links" %>
<% end %>
</div>

