<% stylesheet_link_tag("post")%>
<% if user_signed_in? %>
  <% current_user.follow_requests.each do |request| %>
    <%= request.followerable.email %> Wants to follow you 
    <%= button_to "Accept", accept_path(request.followerable) %>
    <%= button_to "Decline", decline_path(request.followerable) %>
  <% end %>
  <div>
    Followers
    <% current_user.followers.each do |follower| %>
      <p> <b> <%= link_to follower.email, follower %> </b> </p>
    <% end %>
  </div>
  <div>
    Following
    <% current_user.following.each do |following| %>
      <p> <%= link_to following.email, following %> </p>
    <% end %>
  </div>
  
<% end %>
<p style="color: green"><%= notice %></p>
<h1>Posts</h1>
<div id="posts" class="text-center">
  <% @posts.each do |post| %>
    <%= render partial: "clickable_post", locals: { post: post } %>
  <% end %>
</div>
<%= link_to "New post", new_post_path %>
